@import "tailwindcss";

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

/* .game-bg {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.game-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../public/images/alpha-bg.jpg') no-repeat center center / cover;
  opacity: 0.3;
  filter: blur(2px);
  z-index: -1;
} */
body * {
  font-family: "Inter", sans-serif;
}
body button{
  cursor: pointer;
}

.game-bg {
  position: relative;
  background: url('../public/images/alpha-bg.jpg') no-repeat center center / cover;
  z-index: 0;
  padding: 50px;
}

.game-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background-color: rgb(10 152 150 / 40%); */
  /* background-color:rgb(10 8 35 / 80%); */
  background-color: rgb(66 62 62 / 66%);
  z-index: -1;
}

.create-game-bg {
  position: relative;
  background: url('../public/images/alpha-bg.jpg') no-repeat center center / cover;
  z-index: 0;
  padding: 50px;
}

.create-game-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background-color: rgb(10 152 150 / 40%); */
  /* background-color:rgb(10 8 35 / 80%); */
  background-color: rgb(46 43 43 / 91%);
  z-index: -1;
}

.game-bg h1 {
  font-family: "Comic Relief", system-ui;
  font-weight: 600;
  font-style: normal;
}

.play-btn {
  cursor: pointer;
  font-family: "Pacifico", cursive;
  font-weight: 700;
  font-style: normal;
  color: #beff00;
}

.title {
  font-family: "Comic Relief", system-ui;
  font-weight: 600;
}

.game-img-left {
  position: absolute;
  /* top: -10%; */
  left: -10%;
}

.game-img-right {
  position: absolute;
  /* top: -10%; */
  right: -10%;
}

/* .bg-main {
  position: relative;
  background: url('../public/images/bg1.png') no-repeat center center / cover;
  height: 465px;
  width: 100%;

} */

.help-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.word {
  max-width: 500px;
  margin: 50px auto;
}

.assesment-card {
  background: #ffffff;
  border: none;
  box-shadow: 0px 0px 5px 0px #a6a6a6;
}

.game-btn {
  border: 1px solid black;
  color: black;
  height: 45px;
}

.create-btn {
  background-color: white;
  color: black;
  height: 50px;
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
}

.home-page {
  position: relative;
  background: url('../public/images/alpha-bg1.jpg') no-repeat center center / cover;
  z-index: 0;
}

.home-page::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background-color: rgb(10 152 150 / 40%); */
  /* background-color:rgb(10 8 35 / 80%); */
  background-color: rgb(0 0 0 / 81%);
  z-index: -1;
}

.letter-text {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}

.home-icon svg, .hint-icon svg {
  height: 40px;
  width: 40px;
}

.home-icon , .hint-icon{
  cursor: pointer;
  padding: 0px;
}

.home-icon:hover, .hint-icon:hover {
  background: transparent;
}

.word-title {
  font-family: "Merienda", cursive;
}

.letter-game-text {
  font-family: "Comic Relief", system-ui;
  font-weight: 500;
  font-style: normal;
}

.apha-letters {
  font-family: "Merienda", cursive;
  font-weight: 900;
}

.arrow-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.desc-section {
  right: 15px;
  top: 100px;
}

.home-icon img {
  filter: invert(1);
}
.winning-text p{
  font-family: 'Merienda';
}
.winning-text{
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* light gray */
  border-radius: 3px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* darker on hover */
}

.gradient-border {
  position: relative;
  border: 4px solid transparent;
  border-radius: 0.5rem;
  background-clip: padding-box;
  background-color: black;
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  z-index: -1;
  border-radius: 0.75rem;
  background: linear-gradient(45deg, #00e5ff, #ff00cc, #ffcc00);
  animation: gradientShift 4s linear infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.alpha-box{
  min-height: 370px;
}
.alpha-box button{
  width: 128px;
  height: 85px;
}